<div class="profile">

  <div class="profile__image">
    <label class="hoverable" for="fileInput">
      <img class="profile__image-icon"
        [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"
        alt="Profile image">
    </label>
    <input id="fileInput" type='file' (change)="onSelectFile($event.target.files)">
    <button *ngIf="url" (click)="deleteImage()" >Delete image</button>
  </div>

  <form class="profile__page-form"
        (ngSubmit)="saveProfile()"
        *ngIf="!profileInfo.firstName && !profileInfo.lastName && !profileInfo.country && !profileInfo.city"
        [formGroup]="profileForm">
    <div class="profile__info form-control">
      <div class="profile-info__input">
        <label for="firstName"
               class="form-control__label">First Name</label>
        <div class="form_control_input-wrapper">
          <input type="text"
                 formControlName="firstName"
                 id="firstName"
                 class="form-control__input">
        </div>
      </div>
      <div class="profile-info__input">
        <label for="lastName"
               class="form-control__label">Last Name</label>
        <div class="form_control_input-wrapper">
          <input type="text"
                 formControlName="lastName"
                 id="lastName"
                 class="form-control__input">
        </div>
      </div>
      <div class="profile-info__input">
        <label for="country"
               class="form-control__label">Country</label>
        <div class="form_control_input-wrapper">
          <input type="text"
                 formControlName="country"
                 id="country"
                 class="form-control__input">
        </div>
      </div>
      <div class="profile-info__input">
        <label for="city"
               class="form-control__label">City</label>
        <div class="form_control_input-wrapper">
          <input type="text"
                 formControlName="city"
                 id="city"
                 class="form-control__input">
        </div>
      </div>
      <div class="profile-info__checkbox">
        <div class="form_control_input-wrapper">
          <input type="radio"
                 formControlName="gender"
                 id="male"
                 value="male"
                 checked
                 class="form-control__checkbox">
          <label for="male"
                 class="form-control__label">Male</label>
        </div>
        <div class="form_control_input-wrapper">
          <input type="radio"
                 formControlName="gender"
                 id="female"
                 value="female"
                 class="form-control__checkbox">
          <label for="female"
                 class="form-control__label">Female</label>
        </div>
      </div>
    </div>
    <button type="submit"
            [disabled]="profileForm.disabled"
            class="button primary-button">Save</button>
  </form>

  <div *ngIf="profileInfo.firstName && profileInfo.lastName && profileInfo.country && profileInfo.city"
        class="profile__page-info">
    <span>First name: {{profileInfo.firstName}}</span>
    <span>Last name: {{profileInfo.lastName}}</span>
    <span>{{profileInfo.city}}, {{profileInfo.country}}</span>
  </div>
</div>
