<header class="header">
  <nav class="header__nav">
    <ul class="header__nav__list">
      <li>
        <a [routerLink]="['/', URLS.LIST]"
           routerLinkActive="active"
           class="link header__nav__list__link">LIST</a>
      </li>
      <li>
        <a [routerLink]="['/', URLS.MAP]"
           routerLinkActive="active"
           class="link header__nav__list__link">MAP</a>
      </li>
    </ul>
  </nav>
  <div class="header__button">
    <button class="button primary-button" (click)="profile()">Profile</button>
    <button class="button secondary-button" (click)="logout()">logout</button>
  </div>
</header>

